body {
	direction: ltr !important;
}

body.mirror {
	direction: rtl !important;
}

.navbar-default {
    background-color: #fff;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    color: #563d7c;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #f9f9f9;
}

.header {
	margin-top: 50px;
    padding: 55px 30px 75px;
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #6f5499;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
    background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
}

.header h1{
	margin-top: 0;
	font-size: 95px;
	font-weight: bold;
}

.header p.headline {
	font-size: 24px;
}

.header p.sub-headline {
    margin-bottom: 20px;
    font-size: 20px;
    color: #cdbfe3;
}

.header button.btn-outline-inverse#bs-mirror-btn, button.btn-outline-inverse#bs-mirror-btn-float {
    color: #fff;
    font-size: 20px;
    padding: 10px 40px;
    background-color: transparent;
    border-color: #cdbfe3;
    transition: .3s;
}

.header button.btn-outline-inverse#bs-mirror-btn:hover, .header button.btn-outline-inverse#bs-mirror-btn:focus {
    color: #563d7c;
    background-color: white;
    border-color: white;
}

.container-main {
	padding: 40px 15px;
}

.container .radio {
	text-align: center;
}

.container .radio label {
	margin: 0 20px;
}

.example-box {
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 4px ;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.example-box:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Example";
}

.bs-mirror .example-box:after {
    left: auto;
    right: 15px;
}


button.btn-outline-inverse#bs-mirror-btn-float {
	position: fixed;
	background: #6f5499;
	bottom:25px;
	right:25px;
	z-index: 99;
}

.bs-mirror button.btn-outline-inverse#bs-mirror-btn-float {
	left: 25px;
	right:0;
}


ul.bs-sidebar  {
	padding: 0 20px !important;
}

.bs-sidebar.nav-pills>li>a {
    background: none !important;
    padding: 4px 20px;
    color: #767676;
}

.bs-sidebar.nav-pills>li.active>a {
    color: #563d7c;
    font-weight: bold;
    border-radius: 0;
}

.bs-sidebar.nav-pills>li>a:focus, .bs-sidebar.nav-pills>li>a:hover {
    color: #563d7c;
}


.bs-sidebar.nav-stacked>li {
    float: none;
}

.bs-sidebar li.active {
    border-color: #563d7c !important;
}

.bs-sidebar.nav-stacked>li, .bs-sidebar ul.dropdown-menu li  {
    border-left: solid 2px transparent;
}

.bs-mirror .bs-sidebar.nav-stacked>li, .bs-mirror  .bs-sidebar ul.dropdown-menu li  {
    border-left: none ;
    border-right: solid 2px transparent;
}


.bs-sidebar ul.dropdown-menu {
    padding: 0;
    margin-left: -2px;
    border: none;
    box-shadow: none;
    background: none;
    position: initial;
}

.bs-mirror .bs-sidebar ul.dropdown-menu {
    float: right;
    margin-left:0;
    margin-right: -2px;
}

.bs-sidebar .dropdown-menu>li.active>a, .bs-sidebar .dropdown-menu>li>a:hover, .bs-sidebar .dropdown-menu>li>a:focus {
    color: #563d7c;
}

.bs-sidebar .dropdown-menu>li>a {
    background: none !important;
    color: #767676;
    padding: 3px 40px;
    font-size: 12px;
}

.footer {
	margin-top: 50px;
	padding: 50px 0;
	background-color: #2a2730;
	color: #99979c;
}

.footer a{
	color: white;
}


@media screen and (max-width: 767px) {
	.header {
	    padding: 50px 5px 65px;
	}	
	.header h1 {
	    font-size: 50px;
	}
	.header p {
	    font-size: 22px;
	}
	button.btn-outline-inverse#bs-mirror-btn-float {
		bottom:0;
		right:auto;
		width: 100%;
	}
	.bs-mirror button.btn-outline-inverse#bs-mirror-btn-float {
		left: auto;
		right:auto;
	}

	#button-groups .example-box:last-child .btn-group, #tooltip .example-box a.btn.btn-primary, #popover .example-box a.btn.btn-primary {
	    margin-bottom: 10px;
	}

}